// colors
$white: #fff;
$grey: #444;
$button: #1bbc9b;
$button-hover: #13917a;
$item-hover: rgba(#159f85, 0.7);
$about-bg: #16a086;
$contact-bg: #ecf0f1;
$footer: #2d3e50;
$form-border: #bec3c7;
$socials-hover: #0c5245;
