
$logo: #fed136;
$logo-hover: #fec503;
$white: #ffffff;
$button-hover: #fec810;
$dark-grey: #212529;
$dark-white: #f8f9fa;
$light-grey: #6c757d;
$selection: #FDD035;
$border: #E9ECEF;

$montserrat: "Montserrat", sans-serif;
$droid: "droid_serif", sans-serif;
$roboto: "Roboto Slab", serif;
$kaushan: "Kaushan Script", cursive;