// colors
$link: #fed136;
$link-hover: #fec503;
$button-hover: #fec810;
$selection: #FDD035;
$white: #ffffff;
$dark-grey: #212529;
$dark-white: #f8f9fa;
$light-grey: #6c757d;
$border: #E9ECEF;
$placeholder: #CED4DD;
// fonts
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto Slab", serif;
$kaushan: "Kaushan Script", cursive;
$droid-serif: "droid_serif", sans-serif;
// breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$huge: 1200px;
