/* Basic structure */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.6em;
}

#main {
  background: rgb(230, 230, 230);
  margin: 15px 15px;
  border-radius: 25px;
}


/* Header */

header {
  padding: 25px 0;
}

#title {
  margin-bottom: 20px;
}

header p {
  font-size: 1.2em;
}

/* Image */

#img {
  background: white;
}

#image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

#img-caption {
  padding: 20px 15px;
}


/* Main content */

#tribute-info {
  margin: 0 auto;
  padding: 20px; 
}

#headline {
  padding-bottom: 10px;
  text-align: center;
}

ul {
  list-style-type: circle;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  list-style: inside;
}

ul li {
  margin: 0;
}

blockquote {
  font-style: italic;
  padding: 20px;
}

/* Footer */

footer {
  display: inline-block;
  padding: 15px 20px;
  background-color: rgb(240, 245, 245);
  border-radius: 15px;
  margin: 0 25px 25px;
}

footer a {
  text-decoration: none;
  color: rgb(0, 102, 128);
}

footer a:hover {
  color: rgb(255, 102, 102);
}
