@mixin backImage($height, $url) {
  background-image: url($url);
  background-repeat:no-repeat;
  background-position: center;
  height: $height;
}

@mixin thumbnails($url) {
  background-image: $url;
}

@mixin flex-align() {
  display: flex;
  align-items: center;
}