@mixin backImage($height, $url) {
  background-image: url($url);
  background-repeat:no-repeat;
  background-position: center;
  height: $height;
}

@mixin thumbnails($url) {
  background-image: $url;
}

@mixin flex-align() {
  display: flex;
  align-items: center;
}

@mixin round-img($length) {
  border-radius: 50%;
  width: $length;
  height: $length;
}
